/* Universal Styles */

html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.flex-container {
  display: flex;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 24px;
}

h2 {
  font-weight: 900;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

p {
  line-height: 1.4;
}

.btn {
  background-color: gray;
  padding: 12px 96px;
  font-weight: 400;
  color: white;
}

/* Nav Bar Styles */

header {
  padding: 16px 24px;
  justify-content: space-between;
}

.logo {
  align-items: center;
}

.logo img {
  height: 32px;
}

.bold {
  font-weight: 700;
}

.logotype {
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav {
  align-items: center;
}

nav a {
  margin-left: 16px;
}

/* Banner Styles */

banner {
  background-color: lightgray;
  padding: 32px 24px;
  align-items: center;
}

banner img {
  width: 60%;
  padding-right: 48px;
}

banner p {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 48px;
}

/* News Section Styles */

#news {
  margin: 2px 0;
}

.news-feature {
  width: 60%;
  align-items: space-between;
  padding: 32px 24px;
  border-right: 1px solid lightgray;
}

.news-feature img {
  width: 100%;
}

.news-feature h2, .quote, .attribution {
  padding-top: 24px;
}

.attribution {
  font-size: 16px;
  font-weight: 400;
}

.news-stack {
  width: 40%;
  flex-direction: column;
  padding-bottom: 32px;
}

.news-stack img {
  width: 35%;
  height: auto;
  padding-right: 24px;
}

.news-stack h3, .news-stack p {
  margin-bottom: 8px;
}

.news-item-1, .news-item-2, .news-item-3 {
  padding: 16px;
  align-items: center;
  height: 33%;
  margin-left: 1px;
}

.news-item-1 {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1px;
}

.news-item-2 {
  border-top: 1px solid lightgray;
}

.news-item-3 {
  background-color: lightgray;
  margin-left: 0;
}

.read-more {
  font-weight: 400;
  color: blue;
}

/* Course Section Styles */

#courses {
  background-color: lightgray;
  padding: 32px 56px;
  flex-flow: wrap;
}

#courses h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.course-category {
  flex-direction: column;
  margin: 16px;
  width: 30%;
}

.course-category img {
  width: 100%;
  height: auto;
}

.cat-description {
  background-color: white;
  padding: 16px 16px 24px 16px;
  min-height: 9rem;
}

.subhead {
  margin: 16px 0;
  text-transform: uppercase;
}

/* Thesis Section Styles */

#thesis {
  flex-direction: column;
  padding-right: 8px;
}

#thesis h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 32px;
}

.vid-feature {
  width: 60%;
  margin: 32px 24px;
}

.vid-feature video {
  width: 100%;
}

.vid-feature h3, .vid-feature p {
  padding-top: 24px;
}

.thesis-stack {
  width: 40%;
  height: 100%;
  flex-direction: column;
  margin: 32px 0;
}

.thesis-stack img {
  width: 35%;
  height: auto;
  padding-right: 24px;
}

.thesis-stack h3 {
  margin-bottom: 8px;
}

.thesis-item-1, .thesis-item-2 {
  padding: 16px;
  height: 33%;
  align-items: center;
}

.thesis-item-1 {
  background-color: lightgray;
}

/* Footer Styles */
