/* Universal Styles */

html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 24px;
  color: #2d2d2d;
}

h2 {
  font-weight: 900;
  font-size: 1.5rem;
  color: #2d2d2d;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #2d2d2d;
}

p {
  line-height: 1.4;
  color: #2d2d2d;
}

a {
  color: #4d4d4d;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover {
  color: #6CA0DC;
}

.btn {
  background-color: #2D435C;
  border-radius: 5px;
  padding: 12px;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #D2F1F2;
}

/* Nav Bar Styles */
/* Desktop Nav */

header {
  padding: 16px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid #D2F1F2;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.logo img {
  height: 32px;
}

.logotype {
  color: #00A68C;
}

.bold {
  font-weight: 700;
  color: #2D435C;
}

.logotype {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.desktop-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.desktop-nav a {
  margin-left: 16px;
}

.mobile-nav {
  display: none;
}

/* Mobile Nav */

@media screen and (max-width: 768px) {
  header {
    padding: 16px 0 16px 24px;
    justify-content: space-around;
  }

  .logo img {
    height: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .logotype {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Banner Styles */

banner {
  background-image: -webkit-linear-gradient(
      45deg,
      #00A68C, #85F2E6
    );
  background-image: linear-gradient(
      45deg,
      #00A68C, #85F2E6
    );
  padding: 32px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

banner img {
  width: 60%;
  padding-right: 48px;
  -ms-flex-negative: 10;
      flex-shrink: 10;
}

.banner-txt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

banner p {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 48px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (max-width: 860px) {
  banner img {
    width: 50%;
  }
}

/* Mobile Banner */

@media screen and (max-width: 768px) {
  banner {
    flex-direction: column;
    padding: 0;
  }

  banner img {
    width: 100%;
    padding-right: 0;
  }

  .banner-txt {
    padding: 48px 16px;
  }

  #banner-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 24px;
    font-size: 1.5rem;
  }
}

/* News Section Styles */

#news {
  margin: 2px 0;
}

.news-feature {
  width: 60%;
  -ms-flex-negative: 10;
      flex-shrink: 10;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
              -ms-grid-row-align: space-between;
          align-items: space-between;
  padding: 32px 24px;
  border-right: 1px solid #D7EBFF;
}

.news-feature img {
  width: 100%;
}

.news-feature h2, .quote, .attribution {
  padding-top: 24px;
}

.attribution {
  font-size: 16px;
  font-weight: 400;
}

.news-stack {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-bottom: 32px;
}

.lg-display {
  width: 35%;
  height: auto;
  padding-right: 24px;
}

.sm-display {
  display: none;
}

.news-stack h3, .news-stack p {
  margin-bottom: 8px;
}

.news-item-1, .news-item-2, .news-item-3 {
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  height: 33%;
  margin-left: 1px;
}

.news-item-1 {
  border-bottom: 1px solid #D2F1F2;
  margin-bottom: 1px;
}

.news-item-2 {
  border-top: 1px solid #D2F1F2;
}

.news-item-3 {
  background-color: #D2F1F2;
  margin-left: 0;
}

.read-more {
  font-weight: 400;
  color: #6CA0DC;
}

.read-more:hover {
  color: #4d4d4d;
}

@media screen and (max-width: 860px) {
  .news-feature {
    width: 50%;
  }

  .news-stack {
    width: 50%;
  }
}

/* Mobile News */
/* Tablet Screens */

@media screen and (max-width: 768px) {
  .news-feature {
    display: none;
  }

  .news-stack {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding: 16px 16px 32px 16px;
  }

  .news-item-1, .news-item-2, .news-item-3 {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    height: 33%;
    margin-left: 0;
  }

  .news-item-1 {
    border-bottom: 0;
    margin-bottom: 64px;
  }

  .news-item-2 {
    border-top: 0;
    margin-bottom: 64px;
  }

  .news-item-3 {
    background-color: white;
    margin-left: 0;
  }

  .news-stack h3 {
    font-size: 2rem;
  }

  .news-stack p {
    font-size: 1.5rem;
    padding-bottom: 16px;
  }

  .news-stack a {
    font-size: 1.5rem;
  }
}

/* Mobile News */
/* Phone Screens */

@media screen and (max-width: 550px) {
  .news-stack {
    padding: 16px 16px 32px 16px;
  }

  .news-item-1, .news-item-2, .news-item-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
    margin: 0;
  }

  .lg-display {
    display: none;
  }

  .sm-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .news-txt {
    padding: 48px 16px;
  }
}

/* Course Section Styles */

#courses {
  background-image: -webkit-linear-gradient(
      45deg,
      #00A68C, #85F2E6
    );
  background-image: linear-gradient(
      45deg,
      #00A68C, #85F2E6
    );
  padding: 32px 56px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#courses h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.course-category {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
  width: 30%;
}

.course-category img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.cat-description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 16px 16px 24px 16px;
  min-height: 9rem;
}

.subhead {
  margin: 16px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 860px) {
  #courses {
    padding: 32px 32px;
  }

  .course-category {
    width: 40%;
  }
}

/* Mobile Courses */

@media screen and (max-width: 768px) {
  #courses h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 550px) {

  .course-category {
    width: 100%;
  }

  .course-category img, .cat-description p {
    display: none;
  }

  .cat-description {
    min-height: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .cat-description:hover {
    background-color: #D2F1F2;
  }

  .cat-description h3 {
    font-size: 2rem;
    padding: 16px 32px;
  }

  .cat-description h3:hover {
    color: #6CA0DC;
  }
}

/* Thesis Section Styles */

#thesis {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 8px;
}

#thesis h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 32px;
}

.vid-feature {
  width: 60%;
  -ms-flex-negative: 10;
      flex-shrink: 10;
  margin: 32px 24px;
}

.vid-feature video {
  width: 100%;
}

.vid-feature h3, .vid-feature p {
  padding-top: 24px;
}

.thesis-stack {
  width: 40%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 32px 0;
}

.thesis-stack img {
  width: 35%;
  height: auto;
  padding-right: 24px;
}

.thesis-stack h3 {
  margin-bottom: 8px;
}

.thesis-item-1, .thesis-item-2 {
  padding: 16px;
  height: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.thesis-item-1 {
  background-color: #D2F1F2;
}

@media screen and (max-width: 860px) {
  .vid-feature {
    width: 50%;
  }

  .thesis-stack {
    width: 50%;
  }
}

/* Mobile Thesis */

@media screen and (max-width: 768px) {
  #thesis {
    padding: 16px 16px 32px 16px;
  }

  #thesis h2 {
    font-size: 2.5rem;
  }

  .thesis-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .vid-feature {
    width: 100%;
    margin: 32px 0 0 0;
  }

  .vid-feature h3 {
    font-size: 2rem;
  }

  .vid-feature p {
    font-size: 1.5rem;
  }

  .thesis-stack {
    width: 100%;
    border-top: 1px solid #D2F1F2;
  }

  .thesis-item-1 {
    background-color: white;
  }

  .thesis-stack h3 {
    font-size: 2rem;
  }

  .thesis-stack p {
    font-size: 1.5rem;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .thesis-stack, .vid-feature h3, .vid-feature p {
    display: none;
  }
}

/* Footer Styles */

footer {
  padding: 16px 24px;
  margin: 0 2px;
  border-top: 1px solid #D2F1F2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.legal a {
  margin-left: 8px;
}
